LOG_LEVEL=DEBUG
GYROSCOPE_TABLE=Gyroscope
LOCATION_TABLE=Location
V3_BUCKET=aws-golang-api-dev-v3
REKOGNITION_PROJECT=aws-golang-api-dev
REKOGNITION_COLLECTION=aws-golang-api-dev-collection
REKOGNITION_REGION=us-east-1
ENV=LOCAL
